body{
  font-family: monospace;
  background-color: #000;
  color: #fff;
}
table tr td{
  padding: 1px;
  min-width: 55px;
  text-align: center;
}
table tr td h3{
  margin: 0px;
  font-size: 20px;
  display: flex;
  text-align: center;
  display: block;
}
table tr td strong{
  font-size: 8px;
  display: flow-root;
}
table tr td span{
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
}
.distribuicao{
  font-size: 6px;
  float: right;
  text-align: right;
}
.primeiro{
  width: 20px;
}

.nao-metais{background-color: rgba(0, 101, 0, 0.5); border: 1px solid rgba(0, 193, 0, 0.5);}
.gases-nobres{background-color: rgba(102, 170, 255, 0.5); border: 1px solid rgba(102, 170, 255, 1)}
.metais-alcalinos{background-color: rgb(123, 82, 0); border: 1px solid rgb(212, 141, 0, 0.5);}
.metais-alcalinos-terrosos{background-color: rgba(125, 125, 0, 0.5); border: 1px solid rgb(255, 255, 0, 0.5);}
.metais-em-transicao{background-color: rgba(221, 153, 153, 0.5); border: 1px solid rgba(221, 153, 153,1)}
.lantanideos{background-color: rgba(255, 170, 136, 0.5); border: 1px solid rgba(255, 170, 136, 1)}
.actinideos{background-color: rgba(221, 170, 204, 0.5); border: 1px solid rgba(221, 170, 204, 1)}
.metais-representativos{background-color: rgba(132, 158, 145, 0.5); border: 1px solid rgba(132, 158, 145, 1)}
.semi-metais{background-color: rgba(51, 117, 79, 0.5);; border: 1px solid rgb(51, 255, 160, 0.5);}
.halogenios{background-color: rgba(0, 221, 187, 0.5); border: 1px solid rgba(0, 221, 187, 1)}

/*estado*/
.gasoso{color: #5454ff;}
.solido{color: #fff;}
.liquido{color: #de6b6b;}
.desconhecido{color: rgba(204, 204, 204, 0.31)}

.informacoes{
  width: 122px;
  background: #520000;
  height: 124px;
  margin-left: 58px;
  border: 1px solid #900000;
}
.modal{
  background-color: rgba(89, 89, 89, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30px;
}
.elemento{
  margin: 0 auto;
  width: 300px;
  text-align: center;
  font-size: 30px;
}
.elemento span{
  font-size: 20px
}
#fecharModal{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #595959;
  border-radius: 50%;
  box-shadow: 0 0 15px;
  width: 44px;
  height: 44px;
  font-size: 40px;
  text-align: center;
  color: #e88686;
  font-weight: bold;
  cursor: pointer;
}
h4{
  margin: 0
}
.legenda table{
  display: initial
}

.legenda td{
  font-size: 10px;
  cursor: default;
}
